<link href="~/css/index.css" rel="stylesheet" />

<h1>Armoney Group</h1>
<br />
<br />
<br />
<div class="home">
    <div>הדרך שלכם להצלחה עוברת אצלנו.</div>
    <div>
        במהלך השירות שלכם כסף רב יעבור בין היידים שלכם,
        בואו תלמדו איך לנצל אותו לטובתכם האישית ולמטרות אותם תרצו להשיג בשחרור המיוחל.
    </div>
    <div>
        <img src="https://media.giphy.com/media/5e22CwMaD4oMSk3Qpc/giphy.gif"  />
    </div>
    <br />
    <div>
        <h1>
            למידע נוסף הירשמו לאתר שלנו!!!!
        </h1>
    </div>
</div>
