<link href="~/css/site.css" rel="stylesheet" />


<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">ברוכים הבאים</h2>
        <input type="text" class="form-control" name="username" placeholder="אימייל" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="סיסמא" required="" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"><span> זכור אותי</span>
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">התחבר</button>
        <button class="btn btn-lg btn-primary btn-block" type="submit">הירשם</button>
    </form>
</div>