@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>
    פרסומות והמלצות
</h1>
<img src="https://homygod.org/wp-content/uploads/2020/11/Proper_economic_conduct.jpg" width="500" />
<div style="background-image: url('https://homygod.org/wp-content/uploads/2020/11/Proper_economic_conduct.jpg');"div>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/efaVyRpVVWc">
    </iframe>
